<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>icenter -- 编辑器</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icenter_sql.css') }}">
    <script src="{{ url_for('static', filename='js/icenter_editor.js') }}"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
</head>
<body>
<div class="editorContainer">
    <div class="sidebar">
        <a href="/real_icenter_index">
            <button class="sidebar-button">仪表盘主页</button>
        </a>
        <a href="/sql_execute_page">
            <button class="sidebar-button">ExecuteSQL</button>
        </a>
        <a href="/editor">
            <button class="sidebar-button">编辑器</button>
        </a>
    </div>
    <div id="file-tree-container" style="width: 300px; border-right: 1px solid #ddd; overflow-y: auto;"></div>
    <div id="editor-main" style="flex: 1; padding: 20px;">
    </div>
</div>
</body>
</html>