<!DOCTYPE html>

<html lang="en">
<head>
    <!--
     堆粑粑
        对不住了未来的哥们，
        因为开发周期太长了，我想缩短时间，我无法保证代码质量。。。
    -->
    <meta charset="UTF-8">
    <title>Icenter -- Execute SQL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icenter_sql.css') }}">

    <!-- Highlight.js 资源 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/sql.min.js"></script>
</head>
<body>
<div class="main-container">
    <div class="sidebar">
        <a href="/real_icenter_index">
            <button class="sidebar-button">仪表盘主页</button>
        </a>
        <a href="/sql_execute_page">
            <button class="sidebar-button">ExecuteSQL</button>
        </a>
        <a href="/editor">
            <button class="sidebar-button">编辑器</button>
        </a>
    </div>
    <!-- 修改后的内容区域 -->
    <div class="content-area">
        <div class="sql-editor-section">
            <div id="editorContainer" data-placeholder="Please input your SQL Statement">
                <pre><code id="codeEditor" contenteditable="true" class="language-sql"></code></pre>
            </div>
            <div class="button-container">
                <button id="submit-sql-statement-to-backend" class="execute-btn">
                    ▶️ Execute SQL
                </button>
            </div>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/execute_sql.js') }}"></script>

</body>
</html>