<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icenter_sql.css') }}">
    <meta charset="UTF-8">
    <title>ICenter_主页仪表盘</title>

</head>
<body>
<div class="main-container">
    <div class="sidebar">
        <a href="/real_icenter_index">
            <button class="sidebar-button">仪表盘主页</button>
        </a>
        <a href="/sql_execute_page">
            <button class="sidebar-button">ExecuteSQL</button>
        </a>
    </div>
</div>
</body>
</html>

