<!-- icenter_index.html -->
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icenter_sql.css') }}">
    <meta charset="UTF-8">
    <title>ICenter_主页仪表盘</title>

    <script src="{{ url_for('static', filename='js/get_system_info.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drawer.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="main-container">

    <div class="sidebar">
        <a href="/real_icenter_index">
            <button class="sidebar-button">仪表盘主页</button>
        </a>
        <a href="/sql_execute_page">
            <button class="sidebar-button">ExecuteSQL</button>
        </a>
        <a href="/editor">
            <button class="sidebar-button">编辑器</button>
        </a>
    </div>

    <div class="physics-info-area">
        <div id="physics-info-area">
            <h1>系统信息</h1>
            <h2></h2>
        </div>
    </div>


    <div class="physics-usage">
        <div id="physics-usage">
            <h1>其他信息</h1>
            <h2></h2>
        </div>
        <div class="disk-usage">
            <h1> 磁盘使用情况</h1>
            <div id="disk-usage"></div> <!-- 内容容器 -->
        </div>
    </div>


    <div class="chart-container">
        <div class="chart-item">
            <canvas id="myChart"></canvas>
        </div>
        <div class="chart-item">
            <canvas id="myChart2"></canvas>
        </div>
    </div>


    <!-- 主机信息显示 -->
    <div class="loading" id="loading">
        数据加载中...
    </div>
</div>
</body>


</html>

