/* 按钮基本样式 */
.sort-btn {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.99rem;
    padding: 0.3rem 0;
    position: relative;
    transition: var(--transition-base);
}

/* 按钮下方的线段（默认隐藏） */
.sort-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: var(--transition-base);
}

/* 按钮悬停时的样式 */
.sort-btn:hover {
    color: var(--primary-color);
}

/* 按钮悬停时显示线段 */
.sort-btn:hover::after {
    width: 100%;
}

.sort-btn.active {
    color: var(--primary-color);
}

.sort-btn.active::after {
    width: 100%;
}

.sort-buttons {
    display: flex;
    gap: 1.5rem;
}