{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_panel.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            {% include "moderation/moderation_panel_header.html" %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}