{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">在线会员</h5>
            </div>
            <div class="card-body">
                <p>在线人数：{{ online_users.total }} （用户：{{ online_users.users }}, 游客：{{ online_users.guests }}）</p>
                <div class="list-group">
                    {% for user in online_users.users_list %}
                    <a href="#" class="list-group-item list-group-item-action">{{ user }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}